<%- include('../../shared-base/includes/head', { pageTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
  <%- include('../../shared-base/includes/header') %>
  <main>
    <%- include('../../shared-base/includes/order-list') %>
  </main>
</body>